
* {
    padding: 0;
    margin: 0;
}

#agnesPhoto {
    position: relative;
    width: 25rem;
    left: 93px;
}

#about {
    position: relative;
    padding: 2rem;
    width: 67rem;
    height: 30rem;
}

#aboutTitle {
    font-weight: bold;
}

#info {
    font-family: Raleway;
    font-size: 18px;
    position: relative;
    width: 30rem;
    left: 37rem;
    bottom: 24rem;
}