html{
    background-color: #f2f2f2;
}
@font-face{
    font-family: Fanwood;
    src: url("../fonts/FanwoodText-Regular.ttf");
}
@font-face{
    font-family: Raleway;
    src: url("../fonts/Raleway-Regular.ttf");
}
/*ABOUT */
* {
    padding: 0;
    margin: 0;
}

#styleVideo {
    position:relative;
    height:0;
}

#video {
    position: absolute;
    width: 100%;
    height: 35rem;
    left: 0;
}

#agnesPhoto-about {
    position: relative;
    width: 30rem;
}

#about {
    position: relative;
    padding: 2rem;
    /*top: 38rem;*/
    width: 67rem;
    height: 30rem;
}

#info-about {
    font-family: Raleway;
    font-size: 1.2rem;
    position: relative;
    width: 36rem;
    left: 32rem;
    bottom: 25rem;
}
 /*ABOUT END*/
a{
    text-decoration: none;
    color: #1b2f3f;
}
.logo {
    text-align: center;
    padding-top: 1rem;
}
.menu1 {
    text-align: center;
    font-family: Fanwood;
    font-size: 38px;
    letter-spacing: -0,4px;
    color: #333333;
}
.picture {
    text-align: center;
    padding-top: 4rem;
}

.menu {
    float: right;
    position: fixed;
    right: 0;
    font-family: Raleway;
}

.menu2 {
    position: relative;
    padding-top: 7rem;
    -webkit-transform: rotate(90deg); //Chrome, Safari
    -moz-transform: rotate(90deg); //Firefox
    -o-transform: rotate(90deg); //Opera
    -ms-transform: rotate(90deg); //IE
    transform: rotate(90deg); //браузеры без префексов;
    
}

.menu3{
    position: relative;
    padding-right: 7rem;
    padding-bottom: 5rem;
}
.view {
    padding-top: 5rem;
    font-family: Raleway;
    font-size: 18px;
    font-weight: 800;
    text-align: center;
    color: #1a1a1a;
}

.cube {
    padding-top: 1rem;
    text-align: center;
}


.active {
    font-weight: 900;
}
* {
    padding: 0;
    margin: 0;
}

#agnesPhoto {
    position: relative;
    width: 25rem;
    left: 93px;
}

#about {
    position: relative;
    padding: 2rem;
    width: 67rem;
    height: 30rem;
}

#aboutTitle {
    font-weight: bold;
}

#info {
    font-family: Raleway;
    font-size: 18px;
    position: relative;
    width: 30rem;
    left: 37rem;
    bottom: 24rem;
}

.contentCont {  
	font-family: Raleway;
	text-align: center;
	height: 100%; 
	margin: 103px 0 0 0;
	text-align: center;  
}

.contentCont .row > div {
	display: inline-block;
	margin: 3em 3em ;

}
.contentCont svg {
	max-width: 70px;
	height: 70px; 
}

svg path, .icon p {
	transition:  0.35s linear;
}

.icon:hover svg path {
	fill: #f65676;
}

.icon a {
	color: #333;
}

.icon p {
	padding-top: 10px;
}

.icon:hover p {
	color: #f65676;
}

.contentCont input { 
  	font-family: Raleway;
  	font-size: 30px;
  	letter-spacing: -0.3px;
  	text-align: center;
  	color: #333333;
	display: block;
	margin: 0 auto;
	margin-top: 45px;
	width: 381px;
	height: 67px;
	background-color: transparent;
	border: solid 1px #333333;
	cursor: pointer;

	transition:  0.35s linear;
}

.contentCont input:hover {
	background-color: #333;
	color: #fafafa;
}